@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('https://balwantadhikari.github.io/karmapoints/css/fonts/AvenirNextLTPro-Regular.eot');
    src: url('https://balwantadhikari.github.io/karmapoints/css/fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('AvenirNextLTPro-Regular.woff2') format('woff2'),
         url('karmapoints/css/fonts/AvenirNextLTPro-Regular.woff') format('woff'),
         url('/karmapoints/css/fonts/AvenirNextLTPro-Regular.svg#Avenir Next LT Pro') format('svg');
}